[user]
  name = Mihir Shete
  email = mihirsht@gmail.com
[color]
  ui = auto
[sendemail]
    smtpserver = smtp.gmail.com
    smtpserverport = 587
    smtpencryption = tls
    smtpuser = mihirsht@gmail.com
    smtppass = *password*
[init]
    templatedir = ~/.git_template
[http]
    sslVerify = false
[core]
    editor = vim
